<p id="notice"><%= notice %></p>

<p>
  <strong>Api:</strong>
  <%= @artwork.api_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @artwork.title %>
</p>

<p>
  <strong>Citi:</strong>
  <%= @artwork.citi_id %>
</p>

<p>
  <strong>Main:</strong>
  <%= @artwork.main_id %>
</p>

<p>
  <strong>Lake uid:</strong>
  <%= @artwork.lake_uid %>
</p>

<p>
  <strong>Lake guid:</strong>
  <%= @artwork.lake_guid %>
</p>

<p>
  <strong>Lake uri:</strong>
  <%= @artwork.lake_uri %>
</p>

<p>
  <strong>Title raw:</strong>
  <%= @artwork.title_raw %>
</p>

<p>
  <strong>Title display:</strong>
  <%= @artwork.title_display %>
</p>

<p>
  <strong>Date start:</strong>
  <%= @artwork.date_start %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @artwork.date_end %>
</p>

<p>
  <strong>Date display:</strong>
  <%= @artwork.date_display %>
</p>

<p>
  <strong>Creator lake uid:</strong>
  <%= @artwork.creator_lake_uid %>
</p>

<p>
  <strong>Cerator raw:</strong>
  <%= @artwork.cerator_raw %>
</p>

<p>
  <strong>Creator display:</strong>
  <%= @artwork.creator_display %>
</p>

<p>
  <strong>Department lake uid:</strong>
  <%= @artwork.department_lake_uid %>
</p>

<p>
  <strong>Department display:</strong>
  <%= @artwork.department_display %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @artwork.dimensions %>
</p>

<p>
  <strong>Medium raw:</strong>
  <%= @artwork.medium_raw %>
</p>

<p>
  <strong>Medium display:</strong>
  <%= @artwork.medium_display %>
</p>

<p>
  <strong>Inscriptions:</strong>
  <%= @artwork.inscriptions %>
</p>

<p>
  <strong>Credit line:</strong>
  <%= @artwork.credit_line %>
</p>

<p>
  <strong>History publications:</strong>
  <%= @artwork.history_publications %>
</p>

<p>
  <strong>History exhibitions:</strong>
  <%= @artwork.history_exhibitions %>
</p>

<p>
  <strong>History provenance:</strong>
  <%= @artwork.history_provenance %>
</p>

<p>
  <strong>Api created at:</strong>
  <%= @artwork.api_created_at %>
</p>

<p>
  <strong>Api created by:</strong>
  <%= @artwork.api_created_by %>
</p>

<p>
  <strong>Api modified at:</strong>
  <%= @artwork.api_modified_at %>
</p>

<p>
  <strong>Api modified by:</strong>
  <%= @artwork.api_modified_by %>
</p>

<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Back', artworks_path %>
